.container {
  position: absolute;
  left: 0;
  display: flex;
  width: 100vw;
  overflow: hidden;

  .container__wrapper {
    display: flex;
    gap: 20px;
    animation: move 60s linear infinite;
  }

}

@keyframes move {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}